.main-header {
	height: 50vh;
	background-color: #113;
}

.header-text {
    position: relative;
    top: 40%;
    font-size: medium;
    color: white;
    text-align: center;
}

.header-title {
     margin-top: 0;
    font-size: 6em;
}

.image {
    padding: 100px 0;
}

.section-title {
    margin-top: 0;
    font-size: 3em;
    text-align: center;
}

.section-text {
    font-size: 1.5em;
    text-align: left;
    margin-left: 10em;
    margin-right: 10em;
    padding-bottom: 50px; 
}
.about {
    padding: 100px 0;
	margin: 0;
    background-color: #113;
    color: #fff;
  
}

.projects {
    
     background-color: #a89;
    color: #000;
    
}

.involve {
    padding: 100px 0;
     background-color: #95f;
    color: #fff;
}

footer {
    padding: 100px 0;
    background-color: #113;
    padding: 2em;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

footer .fa-star {
    color: #fff;
}
