.main-header {
	height: 100vh;

	background-image: url("http://jgal.github.io/my-website/assets/img/stars.jpeg");
	background-position: center center;
	background-size: cover;
}

.header-text {
    position: relative;
    top: 40%;
    font-size: medium;
    color: white;
    text-align: center;
}

.header-title {
     margin-top: 0;
    font-size: 6em;
}

.header-subtitle {
    font-size: 3em;
}

.section-title {
    margin-top: 1em;
    font-size: 3em;
    text-align: center;
}

.section-text {
    font-size: 1.5em;
    text-align: left;
    margin-left: 10em;
    margin-right: 10em;
   
}
.about {
    margin: 0;
    background-color: #113;
    color: #fff;
  
}

.projects {
     background-color: #a89;
    color: #000;
    
}

.involve {
     background-color: #95f;
    color: #fff;
}

footer {
    background-color: #113;
    padding: 2em;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

footer .fa-star {
    color: #fff;
}
